<%- include ('layout/header') %>
<%- include ('layout/navbar') %>
    <h1>Welcome to the Application!</h1>
    <p>This is the welcome page.</p>

    <!-- Tautan ke halaman login dan signup -->
    <nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        </ul>
    </nav>
</body>
</html>