<header class="bg-light">
    <div class="container d-flex justify-content-between align-items-center py-3">
        <a href="/index.html" class="d-flex align-items-center">
            <img src="/assets/images/web/logo.png" alt="Logo" style="height: 50px;">
        </a>
        <nav class="nav">
            <a class="nav-link text-dark" href="/">Home</a>
            <a class="nav-link text-dark" href="/about">About</a>
            <a class="nav-link text-dark" href="/contact">Contact</a>
            <a class="nav-link text-dark" href="/subscribe">Subscribe</a>

            <% if (user) { %>
                <!-- Jika user sudah login -->
                <a class="nav-link text-dark" href="/logout">Logout</a>
                <span class="nav-link text-dark user-name"><%= user.name %></span>
            <% } else { %>
                <!-- Jika user belum login -->
                <a class="nav-link text-dark" href="/login">Login</a>
            <% } %>
        </nav>
    </div>
</header>
